<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text File Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex flex-col items-center justify-center border-box p-[50px] bg-zinc-800 w-screen min-h-screen text-white">
        <h1 class="text-2xl font-bold mb-4">File: <%= filename %></h1>
        <form action='/editconfirm/<%= filename %>' id="Fileform" onsubmit="return confirm('Are you sure, you want to edit the text?')" method="post" class="bg-zinc-700 p-4 rounded-lg w-full max-w-2xl">
            <textarea name="filecontent" class="outline-none w-full min-h-50"><%= content %></textarea>
        </form>
        <button form="Fileform"  class="mt-4 px-4 py-2 bg-blue-500 rounded hover:bg-blue-600">Confirm edit</button>
    </div>
</body>
</html>