<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text File Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body >
    <div class="flex flex-col items-center justify-center border-box p-[50px] bg-zinc-800 w-screen min-h-screen text-white">
        <form id="Fileform" action="/upload" method="post" class=" w-[40%] flex flex-col items-start justify-center">
                <label for="filename" class="text-2xl font-bold">Enter File Name</label>
                <input type="text" id="filename" name="filename" placeholder="ex: Comapny details -----> Companydetails.txt" class="border-box px-5 w-full h-10 bg-zinc-700 rounded-md my-4  outline-none">
                <label for="filetext" class="text-2xl font-bold ">Enter your Note</label>
                <textarea type="text" id="filetext" name="filetext" placeholder="Start typing ......." class="border-box px-5 py-6 w-full h-50 bg-zinc-700 rounded-md my-4 outline-none"></textarea>
                
        </form>
        <div class="w-auto h-auto flex gap-5">
            <button form="Fileform" type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Upload</button>
            <form action="/delete" method="get" onsubmit="return confirm('Are you sure, you want to delete all the files?')">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Delete All Files</button>
            </form>
            <form action="/delete-specific" method="get" >
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Delete</button>
            </form>
        </div>
        <br>
        <br>
        <br>
        <div class="max-w-full h-auto flex  justify-center items-center gap-[20px] ">
            <% if (documents.length > 0) { %>
                <% documents.forEach((document)=>{ %>
                    <div class="min-h-30 min-w-80 rounded-md bg-zinc-600 break-words border-box p-3 flex flex-col justify-between items-center">
                        <p class="text-[24px]"><%= document %></p>
                        <div class="w-full flex justify-between items-center">
                            <a href="/read/<%= document %>" class="text-blue-400">Click here to Read File</a>
                            <a href="/edit/<%= document %>" class="text-blue-400">Edit Content</a>
                        </div>
                    </div>
                <% }) %> 
            <% } else { %>
                <p class="text-[30px]">No file In the Directory</p>
            <% } %>
            
        </div>
    </div>
</body>
</html>